*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

a:hover{
    text-decoration: underline;
}

/* Navbar */

nav ul li .menu{
    height: 26.5px;
    width: 26.5px;
    vertical-align: middle;
    transform: translate(7%, -3%);
    opacity: 0.65;
}

nav ul{
    position: absolute;
    right: 0;
    margin: 1rem 1.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

.user{
    font-size: 32.5px;
    vertical-align: middle;
    transform: translate(5%, -2%);
}

nav ul li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.35rem;
}

nav ul li a{
    color: rgba(0,0,0,0.75);
}

/* Header */
/* 
header{
    height: 70px;
}

.header{
    width: 16.5%;
    margin-right: 10px;
    padding: 0.8rem 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    right: 0;
    position: absolute;
}

.header .links a{
    padding: 0rem 0rem 0rem 0.6rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgba(0,0,0,0.75);
}

.header i{
    color: rgba(0,0,0,0.75);
}

.menu{
    height: 28px;
    width: 28px;
    opacity: 0.75;
}

.menu-app{
    padding-top: 20%;
    margin-right: 0.1rem;
}
.user{
    font-size: 1.9rem;
} */

/* Main Body */

.main{
    position: absolute;
    top: 48.5vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
}

.search-box{
    margin-top: 27.5px;
    width: 590px;
    display: grid;
    grid-template-columns: 1.2fr 10fr 1.2fr;
    height: 46px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0,0,0,0.15);
    border-radius: 23px;
}

.search-box:hover{
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,0.1), -0.5px -0.5px 5px rgba(0,0,0,0.1);
}

.search-box .search{
    border: none;
    outline: none;
    width:98%;
}

.search-item{
    color: rgba(0,0,0,0.4);
}

.search-item a{
    color: rgba(0,0,0,0.4);
}

.search-button{
    margin: 27.5px auto 0 auto;
}

.button-s1{
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.6);
    outline: none;
    margin: 0px 5px;
    width: 130px;
    height: 35px;
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif !important;
    border-radius: 5px;
}

.button-s2{
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.6);
    outline: none;
    margin: 0px 5px;
    width: 145px;
    height: 35px;
    font-size: 0.85rem;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.button-s1:hover{
    border: 0.6px solid rgba(0,0,0,0.35);
    color: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.04);
}

.button-s2:hover{
    border: 0.6px solid rgba(0,0,0,0.35);
    color: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.04);
}

.text{
    margin-top: 20px;
}

.text p a{
    color: #1a0dab;
    font-size: 0.8rem;
}

.text .lol{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.85);
    margin-top: 32.5px;
}

.text .lol a{
    margin-left: 0.3rem;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

.footer-1{
    height: 42px;
    background: rgba(0,0,0,0.05);
    border-top: 0.25px solid rgba(0,0,0,0.15);
    border-bottom: 0.25px solid rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}

.footer-1 p a{
    color: rgba(0,0,0,0.6);
}

.footer-2{
    height: 42px;
    background: rgba(0,0,0,0.05);
    padding-left: 30px;
    padding-top: 14px;
}

.footer-2 ul li{
    display: inline-block;
}

.footer-2 .left li{
    padding-right: 1.3rem;
}

.footer-2 .right{
    position: absolute;
    bottom: 12.75px;
    right: 11px;
}

.footer-2 .right li{
    padding-right: 1.3rem;
}

.footer-2 ul li a{
    color: rgba(0,0,0,0.6);
}

/* Card */

.card-body{
    position: absolute;
    right: 30px;
    top: 60px;
}

.card{
    height: 440px;
    width: 320px;
    border: 0.5px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-shadow: 0.2px 0.2px 5px rgba(0,0,0,0.1), -0.2px -0.2px 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px 0px 8px 8px;
    background: white;
}

.card .card-item{
    height: 82px;
    width: 82px;
    border-radius: 5px;
    margin: 8px;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.card .card-item:hover{
    background: rgba(0,0,0,0.05);
}

.card a:hover{
    text-decoration: none !important;
}

.card .card-item img{
    margin-top: 7px;
}

.card .card-item p{
    position: absolute;
    color: rgba(0,0,0,0.75);
    font-size: 0.9rem;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%,50%);
}

.card .divider{
    height:0.1px;
    background: transparent;
    width: 100%;
    border-top: 0.5px solid rgba(0,0,0,0.2);
    margin: 7.9px 0 7.5px 0;
}

#accounts{
    height: 40px;
    width: 40px;
}

#gmail{
    height: 45px;
    width: 45px;
    margin-top: 3px;
}


#drive{
    height: 45px;
    width: 45px;
}


#docs{
    height: 38px;
    width: 38px;
}


#sheets{
    height: 40px;
    width: 40px;
}


#slides{
    height: 40px;
    width: 40px;
}


#calendar{
    height: 38px;
    width: 38px;
}


#chats{
    height: 38px;
    width: 38px;
}


#meet{
    height: 38px;
    width: 38px;
}


#currents{
    height: 36px;
    width: 36px;
}


#sites{
    height: 38px;
    width: 38px;
}


#contacts{
    height: 38px;
    width: 38px;
}


#groups{
    height: 45px;
    width: 45px;
}


#youtube{
    margin-top: 13px;
    opacity: 0.9;
    height: 28px;
    width: 38px;
}


#maps{
    height: 38px;
    width: 26px;
    margin-top: 10px;
}


#news{
    height: 40px;
    width: 40px;
}


#photos{
    height: 40px;
    width: 40px;
}


#translate{
    height: 40px;
    width: 40px;
}


#vault{
    height: 40px;
    width: 40px;
}


#hangouts{
    height: 40px;
    width: 35px;
}


#forms{
    height: 42px;
    width: 42px;
}


#keep{
    height: 38px;
    width: 38px;
}


#jamboard{
    height: 38px;
    width: 38px;
}


#cloudsearch{
    height: 45px;
    width: 45px;
}


#earth{
    height: 38px;
    width: 38px;
}


#collections{
    height: 38px;
    width: 38px;
}


#classroom{
    height: 36px;
    width: 42px;
}

.card-button{
    margin: 30px auto 20px auto;
    height: 40px;
    width: 240px;
    outline: none;
    background: white;
    border: 0.05px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    color: rgb(0, 153, 255);
    font-weight: 300;
    font-size: 0.9rem;
}

.card-button:hover{
    background: rgba(227, 236, 255, 0.1);
}

#cloudprint{
    height: 40px;
    width: 40px;
}


::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.15);
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 10px;
}

.hide{
    display: none !important;
}

.whole{
    width: 100vh;
    height: 100vh;
}