*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

a:hover{
    text-decoration: underline;
}

/* Navbar */

nav ul li .menu{
    height: 26.5px;
    width: 26.5px;
    vertical-align: middle;
    transform: translate(7%, -3%);
    opacity: 0.65;
}

nav ul{
    position: absolute;
    right: 0;
    margin: 1rem 1.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

.user{
    font-size: 32.5px;
    vertical-align: middle;
    transform: translate(5%, -2%);
}

nav ul li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.35rem;
}

nav ul li a{
    color: rgba(0,0,0,0.75);
}

/* Header */
/* 
header{
    height: 70px;
}

.header{
    width: 16.5%;
    margin-right: 10px;
    padding: 0.8rem 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    right: 0;
    position: absolute;
}

.header .links a{
    padding: 0rem 0rem 0rem 0.6rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgba(0,0,0,0.75);
}

.header i{
    color: rgba(0,0,0,0.75);
}

.menu{
    height: 28px;
    width: 28px;
    opacity: 0.75;
}

.menu-app{
    padding-top: 20%;
    margin-right: 0.1rem;
}
.user{
    font-size: 1.9rem;
} */

/* Main Body */

.main{
    position: absolute;
    top: 48.5vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
}

.search-box{
    margin-top: 27.5px;
    width: 590px;
    display: grid;
    grid-template-columns: 1.2fr 10fr 1.2fr;
    height: 46px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(0,0,0,0.15);
    border-radius: 23px;
}

.search-box:hover{
    box-shadow: 0.5px 0.5px 5px rgba(0,0,0,0.1), -0.5px -0.5px 5px rgba(0,0,0,0.1);
}

.search-box .search{
    border: none;
    outline: none;
    width:98%;
}

.search-item{
    color: rgba(0,0,0,0.4);
}

.search-item a{
    color: rgba(0,0,0,0.4);
}

.search-button{
    margin: 27.5px auto 0 auto;
}

.button-s1{
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.6);
    outline: none;
    margin: 0px 5px;
    width: 130px;
    height: 35px;
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif !important;
    border-radius: 5px;
}

.button-s2{
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.6);
    outline: none;
    margin: 0px 5px;
    width: 145px;
    height: 35px;
    font-size: 0.85rem;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.button-s1:hover{
    border: 0.6px solid rgba(0,0,0,0.35);
    color: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.04);
}

.button-s2:hover{
    border: 0.6px solid rgba(0,0,0,0.35);
    color: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.04);
}

.text{
    margin-top: 20px;
}

.text p a{
    color: #1a0dab;
    font-size: 0.8rem;
}

.text .lol{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.85);
    margin-top: 32.5px;
}

.text .lol a{
    margin-left: 0.3rem;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

.footer-1{
    height: 42px;
    background: rgba(0,0,0,0.05);
    border-top: 0.25px solid rgba(0,0,0,0.15);
    border-bottom: 0.25px solid rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}

.footer-1 p a{
    color: rgba(0,0,0,0.6);
}

.footer-2{
    height: 42px;
    background: rgba(0,0,0,0.05);
    padding-left: 30px;
    padding-top: 14px;
}

.footer-2 ul li{
    display: inline-block;
}

.footer-2 .left li{
    padding-right: 1.3rem;
}

.footer-2 .right{
    position: absolute;
    bottom: 12.75px;
    right: 11px;
}

.footer-2 .right li{
    padding-right: 1.3rem;
}

.footer-2 ul li a{
    color: rgba(0,0,0,0.6);
}